<form class="ui stacked segment form" action="/guitars/{{guitars.id}}/addModel" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Make</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    <div class="field">
      <label>Type</label>
      <input placeholder="Type" type="text" name="type">
    </div>
    <div class="field">
      <label>Year</label>
      <input placeholder="Year" type="text" name="year">
    </div>
    <div class="field">
      <label>Price</label>
      <input placeholder="Price" type="number" name="price">
    </div>
  </div>
  <button class="ui blue submit button">Add Model</button>
</form>