{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Guitars Page </h2>
  {{guitars.title}}
  <h4> Cheapest Guitar: {{guitarListSummary.cheapestGuitar.type}}</h4>

  {{> listguitars}}
  {{> addModel}}


</section>


